<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="alert alert-primary" role="alert">
      Note: There are several ways to recommend similar text pieces. However, without labelled data that suggests what
      an accurate recommendation is over a poor recommendation, we cannot determine which algorith is better and by how
      much. This iteration of the recommendation engine is meant to be used in order to collect data from the user. We
      can use whether the user rejects/accepts recommendations as labelled data to then quantitatively evaluate multiple
      algorithms.
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search for a factor" v-model="searchQuery">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="search">Search</button>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Total Score</th>
          <th scope="col">Factor</th>
          <th scope="col">Concepts</th>
          <th scope="col">Processed Factor</th>

          <th scope="col">(*) nn_scores</th>
          <th scope="col">(*) nn_indices</th>
          <th scope="col">(*) entropy</th>
          <th scope="col">(*) weak_parent</th>
          <th scope="col">(*) small_diff</th>
          <th scope="col">(*) doc_intersect</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="sr in searchResults">
          <!-- <th scope="row">{{ sr.index}} </th> -->
          <td>{{ sr.total_score }} </td>
          <td>{{ sr.original_factors }} </td>
          <td>{{ sr.concepts }} </td>
          <td>{{ sr.factor }} </td>
          <td>{{ sr.nn_scores }} </td>
          <td>{{ sr.nn_indices }} </td>
          <td>{{ sr.entropy_scores }} </td>
          <td>{{ sr.has_weak_parent_score }} </td>
          <td>{{ sr.has_small_difference_score }} </td>
          <td>{{ sr.doc_intersection }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      searchResults: [{
        nn_scores: 0,
        nn_indices: 16959,
        entropy_scores: 9.1e-9,
        factor: "maize prices",
        has_weak_parent_score: false,
        has_small_difference_score: false,
        concepts: ["wm/concept/causal_factor/economic_and_commerce/economic_activity/market/price_or_cost/crop_price"],
        original_factors: ["Maize prices"],
        doc_intersection: ["f9d26bc3a00256a2ad92012eae1301b4"],
        total_score: 9.1e-9
      }],
      searchQuery: ''
    },
    methods: {
      search: function () {
        var self = this
        axios.get('/get_recommendations?sq=' + this.searchQuery)
          .then(function (response) {
            self.searchResults = response.data
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  })
</script>

</html>